.modal-update-image
{
    display: none;
    position: absolute;
    width:  280px;
    height: 66px;
    z-index: 5000;
    background: #FFF2E7;
    top: 470px;
    left: 250px;
    padding: 6px 16px;
    border-radius: 12px;
}
.modal-update-image input,.modal-update-image button{
    position: relative;
}
.modal-update-image button
{
    margin-top: 5px;
    border: 0.5px solid #FF9138;
    width: 80px;
    height: 22px;
}
.modal-update-image button:hover
{
   background: #FF9138;
   color: white;
}
.modal-form{
    display: none;
    position: absolute;
    background-color: rgb(0,0,0,0.7);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 100000000000000000;  
}
.modal-give{
    display: none;
    position: absolute;
    background-color: rgb(0,0,0,0.7);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 100000000000000000;
}
.modal-give .close{
    right: 22px;
    top: 12px;
    color: #FF9138;
    font-size: 24px;
    position: absolute;
    cursor: pointer;
}
.modal-give .modal-give-content{
    position: relative;
    width: 469px;
    height: 385px;
    top: -75px;
    background: #FFFFFF;
    border-radius: 16px;
}
.modal-give .modal-give-content .modal-give-content-child1{
    top: 48px;
    position: relative;
    width: 100%;
    height: calc(179px + 48px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.modal-give .modal-give-content .modal-give-content-child1 .modal-give-content-child1-title{
    position: relative;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 1000;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
}
.modal-give .modal-give-content .modal-give-content-child1 .modal-give-content-child1-STT{
    position: relative;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 1000;
    font-size: 56px;
    line-height: 60px;
    padding: 0 24px;
    /* identical to box height, or 107% */
    /* Orange/$-Orange-500 */
    color: #FF7506;
}
.modal-give .modal-give-content .modal-give-content-child1 .modal-give-content-child1-service{
    position: relative;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-500 */
    color: #282739;
}
.modal-give .modal-give-content .times{
    border-radius: 0 0 16px 16px;
    top: 48px;
    position: relative;
    background-color: #FF9138;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.modal-give .modal-give-content .times p{
    position: relative;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height, or 150% */
    /* White */
    color: #FFFFFF;
}
.modal-form .modal-form-content{
    position: relative;
    width: 571px;
    height: 510px;
    top: -75px;
    background: #FFFFFF;
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px 36px;
}
.modal-form .modal-form-content .modal-title{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */  
    /* Orange/$-Orange-500 */
    color: #FF7506;
}
.modal-form .modal-form-content .form-modal{
    width: 100%;
    height: 100%;
    margin-top: 34px;
    display: flex;
    position: relative;
    flex-direction: column;
}
.modal-form .modal-form-content .form-modal span{
    position: relative;
    color: red;
}
.modal-form .modal-form-content .form-modal p{
    float: left;
    position: relative;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7E7D88;
}
.modal-form .modal-form-content .form-modal .form-items{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    position: relative;
}
.modal-form .modal-form-content .form-modal .form-items label{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}
.modal-form .modal-form-content .form-modal .form-items label span{
    color: red;
}
.modal-form .modal-form-content .form-modal .group-button-modal {
    margin-top: 49px;
    align-items: center;
    flex-direction: row;
    left: 25%;
}
.modal-form .modal-form-content .form-modal .group-button-modal a{
    position: relative;
    width: 102px;
    height: 48px;
    /* Orange/$-Orange-50 */
    background: #FFF2E7;
    /* Orange/$-Orange-400 */
    border: 1.5px solid #FF9138;
    /* down */
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
}
.modal-form .modal-form-content .form-modal .group-button-modal a:hover{
    background: #FF9138;
    color: white;
}
.modal-form .modal-form-content .form-modal .group-button-modal button{
    position: relative;
    width: 117px;
    height: 48px;
    /* Orange/$-Orange-400 */
    background: #FF9138;
    /* down */
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
}
.modal-form .modal-form-content .form-modal .group-button-modal button:hover{
    background: #FFFFFF;
    color: #FF9138;
    border: 0.5px solid #FF9138;
}
.modal-form .modal-form-content .form-modal .form-items input{
    width: 499px;
    height: 44px;
    /* white */
    background: #FFFFFF;
    /* Gray/$-gray-100 */
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
}
.modal-form .modal-form-content *{
    position: relative;
}